@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,500;1,400&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --Blue: hsl(246, 80%, 60%);

--Light-orange: hsl(15, 100%, 70%);
--Soft-blue: hsl(195, 74%, 62%);
--Light-red: hsl(348, 100%, 68%);
--Lime-green: hsl(145, 58%, 55%);
--Violet: hsl(264, 64%, 52%);
--Soft-orange: hsl(43, 84%, 65%);

/*### Neutral */

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
--Aqua-pink: hsl(310, 35%, 73%);


}

body {
    font-family: 'Libre Franklin', sans-serif;
    
    color: var(--Pale-Blue);
    background-color: var(--Very-dark-blue);
}

.main-container {
    
    width: 328px;
    margin: 158px auto;
   
}

.first-section{
    position: relative;
}


.main-card__user {
    background-color: var(--Blue);
    display: flex;
    border-radius: 16px;
    padding: 30px;
    position: absolute;
    width: 82%;         /*modificada*/
    z-index: 1;
}

.main-card__image {
    width: 72px;
    margin-right: 10px;
    border: 3px solid white;
    border-radius: 50%;
}

.main-card__title {
    font-size: 0.9em;
    margin: 10px 0 4px;
}

.main-card__name {
    font: 1.6em;
    font-weight: 400;
    color: whitesmoke;
}

.main-card__dates {
    background-color: var(--Dark-blue);
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    height: 3em;        /*modificada*/
    padding-top: 52px;
    font-size: 1.2em;
    position: absolute;
    width: 100%;
    top: 105px;
    
}

.main-card__frequency:hover {
    cursor: pointer;
    color: var(--Soft-orange);
}




.second-section {
    padding-top: 225px;
    
}

.card {
   position: relative;
   margin-bottom: 105px;
}

.card__background {
    background-color: var(--Light-orange);
    height: 80px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
}
.card-image {
   margin-top: -10px; 
   padding-left: 235px;
}

.card__details {
    background-color: var(--Dark-blue);
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    padding: 25px;
    border-radius: 16px;
    position: absolute;
    width: 86%;                              /*modificado*/
    bottom: -10vh;      
               
}

.card__details:hover {
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

.card__activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    font-weight: 500;
    font-size: 1.2em;
    color: white;
}

.card__hour {
    font-size: 2em;
    color: white;
    font-weight: 300;
}

.footer {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;

    background: #4b6cb7;  
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  
    background: linear-gradient(to right, #182848, #4b6cb7); 

}
.footer h4 {
    padding-top: 40px;
}

.footer a {
    color: hsl(228, 45%, 44%);
    cursor: pointer;
}

.footer i {
    padding: 20px;
    color: var(--Aqua-pink) ;
   cursor: pointer;
}
.footer i:hover {
    color: var(--Soft-orange);
    cursor: pointer;
}


@media(min-width: 1200px) {
    
    .main-container {
       
        width: 1150px;
        display: flex;
    }
    .first-section {
        padding-top: 24px;
        width: 290px;
        height: 594px;

    }
    .second-section {
        height: 564px;
        width: 860px;
        padding-top: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 24px;
    }
    .main-card__user {
       height: 38vh;
       flex-direction: column;

    }
    .main-card__image {
        width: 85px;
        margin-bottom: 45px;

    }
    .main-card__title {
        font-size: 1em;
    }
    .main-card__name {
        font-size: 2.4em;
    }
    .main-card__dates {
        margin-top: 300px;
        height: 15vh;
        padding: 40px 32px 18px;
        flex-direction: column;
        width: 80%;
    }

    .card {
        width: 240px;
        height: 25vh;
        margin-bottom: 15px; /*modificado*/
    }
    .card-image {
        margin-top: 0;
        padding-left: 120px;
    }

    .card__details {
        height: 150px;
        width: 190px;
        bottom: -18px;
    }
    .card__time {
       
        height: 300px;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        ;
    }
}









